body {
    background-color: #E5E5E5;  
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Frank Ruhl Libre', serif;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

a {
    font-family: 'Fira Sans', sans-serif;
}

.grid1 a {
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    position: all;
    padding: 1rem;
    text-decoration: none;   
    color: rgba(0, 0, 0, 0.8);
}

.grid1 a:hover {
    background-color: #fab03174;
    transition-duration: all 500ms;
}

.family {
    display:flex;
    margin-left: 198px;
    margin-right: 17px;
    position: absolute;
}

.grid2 p{
    font-size: 11px;
    display: flex;
    letter-spacing: -0.02em;
    justify-self: center;
    align-self: end;
    margin:0 auto;
    color: rgba(0, 0, 0, 0.5);
}

.grid2 h2{
    font-weight: 900;
    font-size: 32px;
    display: flex;
    justify-self: center;
    align-self: start;
    margin:0 auto;
    color: #FFFFFF;

}

.grid3 p{
    font-size: 11px;
    display: flex;
    letter-spacing: -0.02em;
    justify-self: center;
    align-self: end;
    margin:0 auto;

    color: rgba(0, 0, 0, 0.5);
}

.grid3 h2{
    font-weight: 900;
    font-size: 32px;
    display: flex;
    justify-self: center;
    align-self: start;
    margin:0 auto;

    color: #FFFFFF;
}


.greyrek {
    width: 100%;
    height:612px;
    position: relative;
    background-color: #A9A19E;
}


:root {
    --orange: #F17949;
    --grey: #C7DDEA;
    --yellow: #FAB131;
    --dark-grey: #A9A19E;
}

/*----- First Grid container -----*/

.header{
    flex-wrap: wrap;
}
.grid-container {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    max-width:1000px;
    min-width: 0;
    margin:0 auto;
    position:relative;
    
}

.grid-container article {
    position:relative;
}
.grid1 {
    display: grid;
    background-color: #C7DDEA;
    grid-column: 1/4;
    grid-row: 1/5;
    position: absolute;
}

.grid2 {
    display:grid;
    background-color: #F17949;
    grid-column: 4/7;
    grid-row: 1/3;
    
}

.grid3 {
    display:grid;
    background-color: #FAB131;
    grid-column: 4/7;
    grid-row: 3/5;
    
}
.grid1 h1{
    display:flex;
    justify-content: center;
    margin-left: 105px;
    margin-right: 82px;
    margin-bottom: 0rem;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    
}

.grid1 p {
    display:flex;
    justify-content: center;
    margin-left: 105px;
    margin-right: 128px;
    align-self: start;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    
}
.grid1 a {
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    margin-left: 105px;
    margin-right: 250px;
    text-align: center;
    cursor: pointer;
    align-self: end;
}
/*--x-- First Grid container --x--*/

/*----- Main nav-bar -----*/

.main-nav{
    background-color: #E5E5E5;  
    min-height: 68px;
    display: flex;
    justify-content: center;
}

.main-nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.main-nav ul li {
    padding-left: 4rem;
    padding-right: 4rem;
    align-self: center;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    opacity: 0.4;  
    font-weight: 600;
    letter-spacing: -0.02em;
    font-size: 12px;
}

.current {
    color: black !important;
    opacity: 1 !important;
}

/*--x-- Main nav-bar --x--*/

/*----- Yellow Article -----*/

.yellow-article {
    background-color: #FAB131;
    min-height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow-article h1 {
    color: white;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: -0.02px;
    text-align: center;
}

.yellow-article p {
    text-align: center;
    max-width: 442px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

/*--x-- Yellow Article --x--*/

/*----- Grid container -----*/

.grid-container-big {
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-big article {
    height: 340px;
    width: 334px;
    display: flex;
    justify-content: center;
    position: relative;
}

.grid-container-big article p {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    max-width: 257px;
    align-self: center;
}

.grid-container-big article h2 {
    font-weight: 900;
    font-size: 45px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    align-self: center;
}

.grid-container-big article h3 {
    font-weight: 900;
    font-size: 35px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.4);
    align-self: flex-start;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    margin: 0;
}

.grid-container-big .box-1 {
    background-color: #C7DDEA;
}

.grid-container-big .box-3 {
    background-color: #EBEBEB; 
}

.grid-container-big .box-5 {
    background: #F17949;
}

/*--x-- Grid container --x--*/

/*----- Take-me-up -----*/

.take-me-up {
    min-height: 68px;
    background-color: #A9A19E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 0;
   
}

.take-me-up a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

/*--x-- Take-me-up --x--*/

/*----- Main footer -----*/
.main-footer {
    min-height: 340px;
    background: #777574;
}


/*--x-- Main footer --x--*/



